<div class="excel-editor-table-container">
  <table class="excel-editor-table table is-fullwidth is-striped" id="excel-table">
    <!-- Table content will be dynamically generated -->
  </table>
</div>
